<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="standard"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>成都兼职招聘网</title>
    <!--  <meta name="keywords" content="成都Java招聘,成都Java人才网,成都Java招聘网"/>
      <meta name="description" content="成都兼职招聘，直接开聊，在线面试，找兼职工作就上成都兼职招聘网，直接与Boss开聊吧！"/>-->
    <link href="https://static.zhipin.com/zhipin-geek/v350/web/geek/css/main.css" type="text/css" rel="stylesheet">
    <link rel="canonical" href="https://www.zhipin.com/c101270100/?query=Java">
    <!--<meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>-->
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.zhipin.com/c101270100/?query=Java">

    <script>
        var positionList = [];
    </script>
</head>
<body>
<div id="wrap" class="search-job-list-wrap">
    <!--  <script>
          var staticPath = 'https://static.zhipin.com/v2';
          _PAGE = {
              checkMobileUrl: "/registe/sendSms.json",
              regMobileUrl: "/registe/save.json",
              loginMobileUrl: "/login/phone.json",
              loginAccountUrl: "/login/account.json",
              getRandomKeyUrl: "/captcha/randkey.json",
              verifyImgUrl: "/captcha/?randomKey={randomKey}",
              getPositionUrl: "/user/position.json",
              citySiteName:"成都站",
              citySiteCode:"101270100",
              skillsUrl: "/common/data/positionSkill"
          }
      </script>-->
    <div id="header">
        <div class="inner home-inner">

            <div class="nav">
                <ul>
                    <li> <a href="/frontjobs/index" ka="header-home-logo" title="牛人直聘"><span>牛人直聘</span></a></li>
                    <li class="/frontjobs/index"><a ka="header-home" href="https://www.zhipin.com/chengdu/">首页</a></li>
                    <li class="cur"><a ka="header-job" href="https://www.zhipin.com/job_detail/">职位</a></li>
                    <li class=""><a class="nav-school-new" ka="header-school" href="https://www.zhipin.com/xiaoyuan/">校园</a></li>
                    <li class=""><a ka="header_brand" href="https://www.zhipin.com/gongsi/">公司</a></li>
                    <li class=""><a ka="header-article" href="https://news.zhipin.com/">资讯</a></li>
                    <li class=""><a class="nav-find" ka="header-find" href="https://www.zhipin.com/faxian/">发现</a></li>
                </ul>
            </div>
            <div th:if="${user==null}">
                <div class="user-nav">
                    <!--未登录-->
                    <div class="btns">
                        <a href="/frontjobs/resume" rel="nofollow" class="link-sign-resume" title="上传简历，解析内容，完善注册">上传简历</a>
                        <a href="#" rel="nofollow" ka="header-geek" class="link-sign-resume" title="上传简历，解析内容，完善注册">我要找工作<span class="new" style="display: inline;">hot</span></a>
                        <a href="https://signup.zhipin.com?intent=1" rel="nofollow" class="link-scan" ka="header-boss" title="我要招聘">我要招聘兼职</a>
                        <a href="/frontdesk/register" ka="header-register" class="btn btn-outline">注册</a>
                        <a href="http://localhost:8080/test/login" ka="header-login" class="btn btn-outline">登录</a>
                    </div>
                </div>
            </div>
            <div th:if="${user!=null}">
                <div class="user-nav">
                    <ul>
                        <li class=""><a ka="header-message" href="https://www.zhipin.com/web/geek/chat">消息<span class="nav-chat-num"></span></a></li>
                        <li class=""><a ka="header-resume" href="https://www.zhipin.com/web/geek/resume">简历</a></li>
                        <li class="nav-dot">·</li>
                        <li class="nav-up-file"><a class="header-resume-upload" ka="header-resume-upload-2" href="javascript:;">上传</a></li>
                        <li class="nav-figure">
                            <a href="https://www.zhipin.com/web/geek/recommend" ka="header-username">
                                <span class="label-text" th:text="${user.userName}"></span><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2344451607,2404623174&fm=11&gp=0.jpg" alt=""/>
                            </a>
                            <div class="dropdown">
                                <a href="https://www.zhipin.com/web/geek/recommend" ka="header-personal">个人中心<span>推荐职位、编辑在线简历</span></a>

                                <a href="/frontdesk/ChangePassword" ka="account_manage">账号设置<span>修改密码</span></a>
                                <a href="https://www.zhipin.com/web/geek/account?type=privacySet" ka="privacy_set">隐私设置</a>
                                <a href="https://www.zhipin.com/web/geek/mall" class="link-mall" ka="recruit_assistant">求职助手</a>
                                <a href="javascript:;" class="link-recruit" ka="header-recruit">切换为招聘者</a>
                                <a href="javascript:;" ka="header-logout" id="loginout">退出登录</a>
                                <p class="recruit-tip"><img src="https://static.zhipin.com/v2/web/geek/images/recruit-tip.gif" alt=""><span>在 APP 端“我的 - 设置”中切换为Boss身份后，刷新本页面即可进行招聘</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="filter-box">
        <div class="inner home-inner">
            <div class="search-box">
                <div class="search-form ">
                    <form action="/frontjobs/search/" method="get">
                        <div class="search-form-con">
                            <div class="city-sel">
                                <i class="line"></i>
                                <span class="label-text"><b>成都</b><i class="icon-arrow-down"></i></span>
                            </div>
<!--                            <div class="industry-sel" ka="search_bos_sel_industry">-->
<!--                                <i class="line"></i>-->
<!--                                <span class="label-text"><b>公司行业</b><i class="icon-arrow-down"></i></span>-->
<!--                            </div>-->
<!--                            <div class="position-sel" ka="search_box_sel_jobtype">-->
<!--                                <i class="line"></i>-->
<!--                                <span class="label-text"><b>职位类型</b><i class="icon-arrow-down"></i></span>-->
<!--                            </div>-->
                            <p class="ipt-wrap"><input type="text" name="search" ka="search-keyword" autocomplete="off" class="ipt-search" maxlength="50" placeholder="搜索职位、公司"></p>
                        </div>
<!--                        <input type="hidden" name="city" class="city-code" value="101270100" />-->
<!--                        <input type="hidden" name="industry" class="industry-code" value="" />-->
<!--                        <input type="hidden" name="position" class="position-code" value="" />-->
                        <button class="btn btn-search">搜索</button>
                        <div class="suggest-result" style="display: none;">
                            <ul></ul>
                        </div>

                        <div class="city-box">
                            <ul class="dorpdown-province">
                            </ul>
                            <div class="dorpdown-city">
                            </div>
                        </div>

                        <div class="industry-box">
                            <ul>
                                <li data-val=""><a href="javascript:;">不限</a></li>
                                <li data-val="100001" ka="sel-industry-1"><a href="javascript:;">电子商务</a></li>
                                <li data-val="100002" ka="sel-industry-2"><a href="javascript:;">游戏</a></li>
                                <li data-val="100003" ka="sel-industry-3"><a href="javascript:;">媒体</a></li>
                                <li data-val="100004" ka="sel-industry-4"><a href="javascript:;">广告营销</a></li>
                                <li data-val="100005" ka="sel-industry-5"><a href="javascript:;">数据服务</a></li>
                                <li data-val="100006" ka="sel-industry-6"><a href="javascript:;">医疗健康</a></li>
                                <li data-val="100007" ka="sel-industry-7"><a href="javascript:;">生活服务</a></li>
                                <li data-val="100008" ka="sel-industry-8"><a href="javascript:;">O2O</a></li>
                                <li data-val="100009" ka="sel-industry-9"><a href="javascript:;">旅游</a></li>
                                <li data-val="100010" ka="sel-industry-10"><a href="javascript:;">分类信息</a></li>
                                <li data-val="100011" ka="sel-industry-11"><a href="javascript:;">音乐/视频/阅读</a></li>
                                <li data-val="100012" ka="sel-industry-12"><a href="javascript:;">在线教育</a></li>
                                <li data-val="100013" ka="sel-industry-13"><a href="javascript:;">社交网络</a></li>
                                <li data-val="100014" ka="sel-industry-14"><a href="javascript:;">人力资源服务</a></li>
                                <li data-val="100015" ka="sel-industry-15"><a href="javascript:;">企业服务</a></li>
                                <li data-val="100016" ka="sel-industry-16"><a href="javascript:;">信息安全</a></li>
                                <li data-val="100018" ka="sel-industry-17"><a href="javascript:;">智能硬件</a></li>
                                <li data-val="100019" ka="sel-industry-18"><a href="javascript:;">移动互联网</a></li>
                                <li data-val="100020" ka="sel-industry-19"><a href="javascript:;">互联网</a></li>
                                <li data-val="100021" ka="sel-industry-20"><a href="javascript:;">计算机软件</a></li>
                                <li data-val="100024" ka="sel-industry-21"><a href="javascript:;">通信/网络设备</a></li>
                                <li data-val="100101" ka="sel-industry-22"><a href="javascript:;">广告/公关/会展</a></li>
                            </ul>
                        </div>

<!--                        <div class="position-box">-->
<!--                            <div class="dropdown-menu">-->
<!--                                <script>-->
<!--                                    var jobData = positionList;-->
<!--                                </script>-->
<!--                                <div class="select-tree" data-level="3">-->
<!--                                    <ul class="tree-1"><li data-id="0" class="">不限</li>-->
<!--                                        <li data-id="310000">高级管理</li>-->
<!--                                        <li data-id="100000" class="">技术</li>-->
<!--                                        <li data-id="110000">产品</li-->
<!--                                        ><li data-id="120000" class="">设计</li>-->
<!--                                        <li data-id="130000" class="">运营</li>-->
<!--                                        <li data-id="140000" class="">市场</li>-->
<!--                                        <li data-id="150000" class="">人事/财务/行政</li>-->
<!--                                        <li data-id="160000" class="">销售</li>-->
<!--                                        <li data-id="170000" class="">传媒</li>-->
<!--                                        <li data-id="180000" class="">金融</li-->
<!--                                        ><li data-id="190000">教育培训</li>-->
<!--                                        <li data-id="210000">医疗健康</li>-->
<!--                                        <li data-id="250000" class="">采购/贸易</li>-->
<!--                                        <li data-id="240000">供应链/物流</li>-->
<!--                                        <li data-id="220000" class="selected">房地产/建筑</li><li data-id="260000">咨询/翻译/法律</li>-->
<!--                                        <li data-id="280000">旅游</li-->
<!--                                        ><li data-id="290000">服务业</li>-->
<!--                                        <li data-id="300000">生产制造</li>-->
<!--                                        <li data-id="200000">其他</li>-->
<!--                                    </ul>-->
<!--                                    <ul class="tree-2">-->
<!--                                        <li data-id="220100">房地产规划开发</li>-->
<!--                                        <li data-id="220200">设计装修与市政建设</li>-->
<!--                                        <li data-id="220400">物业管理</li>-->
<!--                                        <li data-id="220500">高端房地产职位</li>-->
<!--                                        <li data-id="220600">其他房地产职位</li>-->
<!--                                    </ul>-->
<!--                                    <ul class="tree-3" style="display: none;"></ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </form>
                </div>
            </div>
            <div class="condition-box">
                <dl class='condition-district  show-condition-district '>
                    <dd>
                        <a  class="selected"  href="/frontjobs/index" ka="sel-business-0">不限</a>
                        <a  href="/frontjobs/search/?search=武侯区" ka="sel-business-0">武侯区</a>
                        <a  href="/frontjobs/search/?search=锦江区" ka="sel-business-1">锦江区</a>
                        <a  href="/frontjobs/search/?search=双流区" ka="sel-business-2">双流区</a>
                        <a  href="/frontjobs/search/?search=郫都区" ka="sel-business-3">郫都区</a>
                        <a  href="/frontjobs/search/?search=青羊区" ka="sel-business-4">青羊区</a>
                        <a  href="/frontjobs/search/?search=金牛区" ka="sel-business-5">金牛区</a>
                        <a  href="/frontjobs/search/?search=成华区" ka="sel-business-6">成华区</a>
                        <a  href="/frontjobs/search/?search=龙泉驿区" ka="sel-business-7">龙泉驿区</a>
                        <a  href="/frontjobs/search/?search=温江区" ka="sel-business-8">温江区</a>
                        <a  href="/frontjobs/search/?search=新都区" ka="sel-business-9">新都区</a>
                        <a  href="/frontjobs/search/?search=崇州市" ka="sel-business-10">崇州市</a>
                        <a  href="/frontjobs/search/?search=都江堰市" ka="sel-business-11">都江堰市</a>
                        <a  href="/frontjobs/search/?search=金堂县" ka="sel-business-12">金堂县</a>
                        <a  href="/frontjobs/search/?search=邛崃市" ka="sel-business-13">邛崃市</a>
                        <a  href="/frontjobs/search/?search=彭州市" ka="sel-business-14">彭州市</a>
                        <a  href="/frontjobs/search/?search=大邑县" ka="sel-business-15">大邑县</a>
                        <a href="/frontjobs/search/?search=青白江区"  ka="sel-business-16">青白江区</a>
                        <a href="/frontjobs/search/?search=郫都区"  ka="sel-business-17">郫都区</a>
                        <a href="/frontjobs/search/?search=简阳市"  ka="sel-business-18">简阳市</a>
                        <a href="/frontjobs/search/?search=新津县"  ka="sel-business-19">新津县</a>
                        <a href="/frontjobs/search/?search=蒲江县"  ka="sel-business-20">蒲江县</a>
                    </dd>
                </dl>
                <dl class='condition-area '>
                    <dd>
                        <a  class="selected"  href="/c101270100/?query=Java" ka="sel-area-0">不限</a>
                    </dd>
                </dl>
            </div>
            <div class="box-shadow-box"></div>
            <div class="filter-select-box">
<!--                <div class="dropdown-wrap">-->
<!--                        <span class="dropdown-select">-->
<!--                                <input type="text" ka="sel-exp" value="工作经验" class="ipt" readonly>-->
<!--                            <i class="icon-select-arrow"></i>-->
<!--                            <div class="dropdown-menu">-->
<!--                                <ul>-->
<!--                                    <li><a href="/frontjobs/index" ka="sel-exp-0" rel="nofollow">不限</a></li>-->
<!--                                    <li><a href="/frontjobs/search/?search=在校生" ka="sel-exp-108" rel="nofollow">在校生</a></li>-->
<!--                                    <li><a href="/frontjobs/search/?search=应届生" ka="sel-exp-102" rel="nofollow">应届生</a></li>-->
<!--                                    <li><a href="/frontjobs/search/?search=应届生" ka="sel-exp-102" rel="nofollow">1年以下</a></li>-->
<!--                                    <li><a href="/frontjobs/search/?search=应届生" ka="sel-exp-102" rel="nofollow">1-3年</a></li>-->
<!--                                    <li><a href="/frontjobs/search/?search=应届生" ka="sel-exp-102" rel="nofollow">3-5年</a></li>-->
<!--                                    <li><a href="/frontjobs/search/?search=应届生" ka="sel-exp-102" rel="nofollow">5年以上</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                </div>-->
                <div class="dropdown-wrap">

                        <span class="dropdown-select">
                                <input type="text" value="学历要求" ka="sel-degree" class="ipt" readonly>
                            <i class="icon-select-arrow"></i>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="/frontjobs/index" ka="sel-degree-0" rel="nofollow">不限</a></li>
                                    <li><a href="/frontjobs/search/?search=初中" ka="sel-degree-209" rel="nofollow">初中及以下</a></li>
                                    <li><a href="/frontjobs/search/?search=中专" ka="sel-degree-208" rel="nofollow">中专</a></li>
                                    <li><a href="/frontjobs/search/?search=高中" ka="sel-degree-206" rel="nofollow">高中</a></li>
                                    <li><a href="/frontjobs/search/?search=大专" ka="sel-degree-202" rel="nofollow">大专</a></li>
                                    <li><a href="/frontjobs/search/?search=本科" ka="sel-degree-203" rel="nofollow">本科</a></li>
                                    <li><a href="/frontjobs/search/?search=硕士" ka="sel-degree-204" rel="nofollow">硕士</a></li>
                                    <li><a href="/frontjobs/search/?search=博士" ka="sel-degree-205" rel="nofollow">博士</a></li>
                                </ul>
                            </div>
                        </span>
                </div>
                <div class="dropdown-wrap">
                        <span class="dropdown-select">
                                <input type="text" ka="sel-salary" value="薪资要求" class="ipt" readonly>
                            <i class="icon-select-arrow"></i>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="/frontjobs/index" ka="sel-salary-0" rel="nofollow">不限</a></li>
                                    <li><a href="/frontjobs/search/?search=3K" ka="sel-salary-1" rel="nofollow">3K以下</a></li>
                                    <li><a href="/frontjobs/search/?search=3-5K" ka="sel-salary-2" rel="nofollow">3-5K</a></li>
                                    <li><a href="/frontjobs/search/?search=5-7K" ka="sel-salary-2" rel="nofollow">5-7K</a></li>
                                    <li><a href="/frontjobs/search/?search=7-9K" ka="sel-salary-2" rel="nofollow">7-9K</a></li>
                                    <li><a href="/frontjobs/search/?search=10k以上" ka="sel-salary-2" rel="nofollow">10k以上</a></li>
                                </ul>
                            </div>
                        </span>
                </div>

                <div class="dropdown-wrap">
                        <span class="dropdown-select">
                                <input type="text" ka="sel-scale" value="招聘人数" class="ipt" readonly>
                            <i class="icon-select-arrow"></i>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="/frontjobs/index" ka="sel-scale-0" rel="nofollow">不限</a></li>
                                    <li><a href="/frontjobs/search/?search=1-4人" ka="sel-scale-301" rel="nofollow">1-4人</a></li>
                                    <li><a href="/frontjobs/search/?search=5-9人" ka="sel-scale-302" rel="nofollow">5-9人</a></li>
                                    <li><a href="/frontjobs/search/?search=10-49人" ka="sel-scale-303" rel="nofollow">10-49人</a></li>
                                    <li><a href="/frontjobs/search/?search=50-99人" ka="sel-scale-304" rel="nofollow">50-99人</a></li>
                                    <li><a href="/frontjobs/search/?search=100-999人" ka="sel-scale-305" rel="nofollow">100-999人</a></li>
                                    <li><a href="/frontjobs/search/?search=1000人以上" ka="sel-scale-306" rel="nofollow">1000人以上</a></li>
                                </ul>
                            </div>
                        </span>
                </div>
                <a href="/frontjobs/index" ka="empty-filter" class="empty-filter" rel="nofollow">清空筛选条件</a>
            </div>
        </div>
    </div>

    <div id="main" class="inner home-inner">
        <div class="job-box">
            <div class="sider">
                <div class="sider-list about-search">
                    <h3>热门搜索排名</h3>
                    <ul>
                        <li th:each="y:${hotlist}"><a th:href="@{'/frontjobs/search/?search='+${y.key}}" target="_blank" ka="related-search-0" th:text="${y.key}"><span class="icon-arrow-right"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="job-list">
                <div class="company-list"></div>
                <ul>
                    <li th:each="x:${listUser.list}">
                        <div class="job-primary">
                            <div class="info-primary">
                                <div class="primary-wrapper">
                                    <div class="primary-box" th:href="@{'/frontjobs/job?jobId='+${x.jobId}}" data-jid="43d2cafabb881ee83nd90ty1E1M~" data-itemid="1" data-lid="9nos9elhdsS.search.1" data-jobid="93791831" data-index="0" ka="search_list_1" target="_blank">
                                        <div class="job-title">
                                            <span class="job-name"><a th:href="@{'/frontjobs/job?jobId='+${x.jobId}}" th:text="${x.jobName}" target="_blank" ka="search_list_jname_1" data-jid="43d2cafabb881ee83nd90ty1E1M~" data-itemid="1" data-lid="9nos9elhdsS.search.1" data-jobid="93791831" data-index="0"></a></span>
                                            <span class="job-area-wrapper">
                                                <span class="job-area" th:text="${x.area}"></span>
                                                <span class="job-area" th:text="${x.address}"></span>
                                            </span>
                                            <span class="job-pub-time"></span>
                                        </div>
                                        <div class="job-limit clearfix">
                                            <span class="red" th:text="${x.pay}">20-40K·15薪</span>
                                            <p th:text="${x.degree}">3-5年<em class="vline"></em></p>
<!--                                            <div class="info-publis">-->
<!--                                                <h3 class="name"><img class="icon-chat" src="https://z.zhipin.com/web/geek/resource/icon-chat-v2.png"/>卓先生<em class="vline"></em>招聘者</h3>-->
<!--                                            </div>-->
<!--                                            <button class="btn btn-startchat" href="javascript:;" data-url="/wapi/zpgeek/friend/add.json?jobId=43d2cafabb881ee83nd90ty1E1M~&lid=9nos9elhdsS.search.1" redirect-url="/web/geek/chat?id=54365c79c9d9d0ab1HFz3Nu6EVs~">-->
<!--                                                <img class="icon-chat icon-chat-hover" src="https://z.zhipin.com/web/geek/resource/icon-chat-hover-v2.png" alt="">-->
<!--                                                <span>立即沟通</span>-->
<!--                                            </button>-->
                                        </div>
                                        <div class="info-detail"></div>
                                    </div>
                                </div>
                                <div class="info-company">
                                    <div class="company-text">
                                        <h3 class="name"><a href="" title="" ka="search_list_company_1_custompage" target="_blank" th:text="${x.companyName}">美团</a></h3>
                                        <p><a href="" class="false-link" target="_blank" ka="search_list_company_industry_1_custompage" title="互联网行业招聘信息" th:text="${x.jobCategoryName}">互联网</a><em class="vline"></em><span th:text="${x.expiryDate}">已上市</span><em class="vline"></em><span th:text="${x.numbers}">10000人以上</span></p>
                                    </div>
                                    <a href=""><img class="" src="" alt=""></a>
                                </div>
                            </div>
                            <div class="info-append clearfix">
                                <div class="tags">
                                    <span class="tag-item">Java</span>
                                    <span class="tag-item">分布式技术</span>
                                    <span class="tag-item">多线程</span>
                                    <span class="tag-item">微服务架构</span>
                                    <span class="tag-item">MySQL</span>
                                </div>
                                <div class="info-desc">通讯补贴，六险一金，13薪，带薪年假，定期体检，补充医疗保险，五险一金，节日福利，年终奖，交通补助，零食下午茶，团建</div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--分页功能-->
                <div th:if="${search==null}">
                    <div class="page">
                        <div>
                            <a class="prev" th:href="@{/frontjobs/index(page=${listUser.prePage})}">&lt;&lt;</a>
                            <a class="num" href="/frontjobs/index">首页</a>
                            <span class="current" th:text="${listUser.curPage}"></span>
                            <a class="num" th:href="@{/frontjobs/index(page=${listUser.totalPages})}">尾页</a>
                            <a class="next" th:href="@{/frontjobs/index(page=${listUser.nextPage})}">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
                <div th:if="${search!=null}">
                    <div class="page">
                        <div>
                            <a class="prev" th:href="@{/frontjobs/search(page=${listUser.prePage})}">&lt;&lt;</a>
                            <a class="num" href="/frontjobs/index">首页</a>
                            <span class="current" th:text="${listUser.curPage}"></span>
                            <a class="num" th:href="@{/frontjobs/search(page=${listUser.totalPages})}">尾页</a>
                            <a class="next" th:href="@{/frontjobs/search(page=${listUser.nextPage})}">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<div id="footer" class="">
    <div class="inner home-inner">
        <div class="footer-social">
            <p>企业服务热线和举报投诉 <span>400 065 5799</span></p>
            <p>工作日 <span>8:00 - 22:00</span></p>
            <p>休息日 <span>9:30 - 18:30</span></p>
        </div>
        <div class="footer-about clear-fix">
            <dl>
                <dt>企业服务</dt>
                <dd>
                    <a href="https://www.zhipin.com/job_detail/" ka="link-search">职位搜索</a>
                    <a href="https://news.zhipin.com/" ka="link-news">新闻资讯</a>
                    <a href="https://app.zhipin.com/" ka="link-app">成都兼职网</a>
                </dd>
            </dl>
            <dl>
                <dt>使用与帮助</dt>
                <dd>
                    <a href="https://www.zhipin.com/web/common/protocol/index.html" rel="nofollow" ka="link-privacy" target="_blank">平台协议</a>
                    <a href="https://www.zhipin.com/activity/cc/anticheatguide.html" rel="nofollow" ka="link-anticheatguide" target="_blank">防骗指南</a>
                    <a href="https://www.zhipin.com/activity/cc/usehelp.html" rel="nofollow" ka="link-usehelp" target="_blank">使用帮助</a>
                </dd>
            </dl>
            <dl>
                <dt>联系成都兼职网</dt>
                <dd>
                    <p>城市 成都</p>
                    <p>公司地址 ************</p>
                    <p>联系电话 ***********</p>
                    <p>违法和不良信息举报邮箱 <a class="report-mail" href="mailto:jubao@kanzhun.com" rel="nofollow">894327471@qq.com</a></p>
                </dd>
            </dl>
        </div>
        <div class="copyright">
            <p>
                <span>Copyright © 2021 成都兼职网</span><span><a href="https://beian.miit.gov.cn/" rel="nofollow" ka="link-icp" target="_blank">川ICP备14013441号-5</a></span><span>川ICP证150923号</span><span>川网文[2020]0399-066 号</span>
                <span>
                     <a href="https://www.zhipin.com/activity/cc/businesslicense.html" rel="nofollow" ka="link-businesslicense" target="_blank">
                         <img src="https://static.zhipin.com/v2/web/geek/images/icon-badge-1.png" alt=""/>
                         电子营业执照
                     </a>
                </span>
                <span><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032801" rel="nofollow" ka="link-beian" target="_blank"><img src="https://static.zhipin.com/v2/web/geek/images/icon-beian.png" alt=""/> 川公网安备*****</a></span>
                <span><a href="http://sdwj.zhipin.com/web/index.html" rel="nofollow" ka="link-sdwj" target="_blank">成都网警</a></span>
                <span><a href="/web/common/protocol/hr-service.html" rel="nofollow" ka="link-hr-service" target="_blank">人力资源服务许可证</a></span>
                <span><a href="https://www.12377.cn" rel="nofollow" ka="link-12377" target="_blank">网上有害信息举报专区</a></span>
            </p>
        </div>
    </div>
</div>
<div style="height: 50px">
</div>
<script src="https://static.zhipin.com/library/js/lib/jquery-1.12.2.min.js"></script>
<script src="https://static.zhipin.com/zhipin-geek/v350/web/geek/js/main.js"></script>
<input type="hidden" id="page_key_name" value="cpc_job_list" />
</body>
<script>
    $("#loginout").bind("click",function () {
        loginout();
    });
    function loginout() {
        $.ajax({
            url:"/test/loginout",
            dataType:"json",
            success:function (data) {
                alert(data.info);
                window.location.reload();
            }
        })
    }
</script>
</html>