<!-- jquery dataTable -->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<!-- Datatables -->
<link href="/backstage/plugin/datatables.net-bs/css/dataTables.bootstrap.min.css"
      rel="stylesheet">
<link href="/backstage/plugin/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"
      rel="stylesheet">
<link href="/backstage/plugin/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
      rel="stylesheet">
<link href="/backstage/plugin/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
      rel="stylesheet">
<link href="/backstage/plugin/datatables.net-scroller-bs/css/scroller.bootstrap.min.css"
      rel="stylesheet">
<!-- jquery-daterangepicker -->
<link href="/backstage/jquery-datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<!-- jquery-datetimepicker -->
<script src="/backstage/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>用户列表 <small>users</small></h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <button class="btn btn-primary" type="button" id="addModalBtn"
                                data-toggle="modal" data-target="#addModal">新增</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>用户名</th>
                                            <th>电话</th>
                                            <th>角色</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<div th:replace="backstagesystem/user/userAdd"></div>
<div th:replace="backstagesystem/user/userEdit"></div>

<!-- Datatables -->
<script src="/backstage/plugin/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/backstage/plugin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/backstage/plugin/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/backstage/plugin/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/backstage/plugin/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/backstage/plugin/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/backstage/plugin/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/backstage/plugin/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/backstage/plugin/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/backstage/plugin/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/backstage/plugin/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/backstage/plugin/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<script >
    var DEFAULT_PAFE_SIZE = 5;
    $(function(){
        // 初始化表格数据
        initTable(DEFAULT_PAFE_SIZE);

        initfpRoles('fpRole','roleList');

        initfpRoles('addRole','roleLists');

        // 绑定页面元素的其他事件
        $("#addModalBtn").bind("click", function() {
            initAddModal();
        });
        $("#addModalSubmit").bind("click", function() {
            addModal();
        });
        $("#editModalSubmit").bind("click", function() {
            editModal();
        });

    })

    // 初始化表格数据
    function initTable(pageSize) {
        $('#datatable').DataTable({
            'paging': true, //分页
            "serverSide": true, //开启后端分页
            "pagingType": "full_numbers", //分页样式的类型simple/simple_numbers/full/full_numbers
            "pageLength": pageSize, //定义初始的页长
            "processing": true,
            "destroy": true, //允许销毁替换，在表格重新查询时，可以自动销毁以前的data
            'lengthChange': true, //控制是否能够调整每页的条数
            'searching': true,
            'data-show-refresh': true,
            'ordering': true,
            'autoWidth': false,
            "ajax": function (data, callback, settings) {
                // 从data获取查询数据
                var columIndex = data.order[0].column;
                var direction = data.order[0].dir;
                var order = data.columns[columIndex].name;
                pageSize = data.length == undefined  ? pageSize : data.length;

                var searchBean = {};
                searchBean.currentPage = (data.start / pageSize) + 1;
                searchBean.pageSize = pageSize;
                searchBean.order = order;
                searchBean.direction = direction;
                searchBean.keyWord = data.search.value;

                $.ajax({
                    url : "/api/users",
                    type : "post",
                    contentType: "application/json",
                    data : JSON.stringify(searchBean),
                    success : function (rs) {
                        var tableData = {
                            draw :0,
                            recordsTotal: 0,
                            recordsFiltered: 0,
                            data: []
                        };
                        if (!rs) {
                            layer.alert("请求出错，请稍后重试" + rs.errmsg, {icon: 2});
                            callback(tableData);
                            return;
                        };
                        if (rs.list == null) {
                            $('#datatable tbody tr').remove();
                            $('#loading').remove();
                            callback(tableData);
                            return;
                        }
                        $('#loading').remove();
                        var rowsData = [];
                        for (var i = 0; i < rs.list.length; i++) {
                            //包装行数据
                            var rowData = new RowData(rs.list[i].userId, rs.list[i].userName,rs.list[i].tel,zhuanhuan(rs.list[i].roles),rs.list[i].state,rs.list[i].createTime);
                            // 将行数据放到数组里
                            rowsData.push(rowData);
                        }
                        tableData.data = rowsData;
                        tableData.recordsTotal = rs.total;
                        tableData.recordsFiltered = rs.total;
                        callback(tableData);
                    },
                    error : function (data) {
                        layer.alert(data.responseText, {icon: 0});
                    }
                });
            },
            "columns": [ //定义行数据字段
                {data: 'userId', name: "user_id", sortable: true},
                {data: 'userName', name: "user_name", sortable: true},
                {data: 'tel', name: "tel", sortable: true},
                {data: 'roles', name: "", sortable: false},
                {data: 'state', name: "state", sortable: true},
                {data: 'createTime', name: "create_time", sortable: true},
                {data: 'operate', width: '80px', sortable: false}
            ]
        });
    }

    //行数据结构
    function RowData(userId, userName,tel,roles,state,createTime) {
        this.userId = userId;
        this.userName = userName;
        this.tel = tel;
        this.roles = roles;
        this.state = state;
        this.createTime = createTime;
        this.operate = function () {
            return "<a href='javascript:void(0);' class='btn_editcolor' " +
                "data-toggle='modal' data-target='#editModal' " +
                "onclick='initEditModal(\"" + userId + "\")'>编辑</a>&nbsp;" +
                "<a href='javascript:void(0);' onclick='deleteModal(\"" + userId + "\")' " +
                "class='btn_editcolor'>删除</a>";
        }
    }

    function zhuanhuan(l) {
        var roles="";
        for (var i = 0; i <l.length; i++) {
            roles=roles+'['+l[i].roleDescribe+']';
        }
        return roles;
    }
    function initAddModal() {
        $("#nameForAdd").val("");
        $("#pwdForAdd").val("");
        $("#telForAdd").val("");
        $("#stateForAdd").val("");
        $("#createTimeForAdd").val("");
    }

    function addModal() {
        var user = {};
        user.userName = $("#nameForAdd").val();
        user.userPwd = $("#pwdForAdd").val();
        user.tel = $("#telForAdd").val();
        user.state = $("#stateForAdd").val();
        user.createTime = $("#createTimeForAdd").val();
        var roles = [];

        $.each($("[name=roleLists]"), function(index, item) {
            if (item.checked) {
                var role = {};
                role.roleId = $(item).val();
                roles.push(role);
            }
        });
        user.roles = roles;

        $.ajax({
            url : "/api/user/admin",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(user),
            success : function (rs) {
                if (rs.status == 200) {
                    $('#addModal').modal('hide');
                    initTable(DEFAULT_PAFE_SIZE);
                } else {
                    layer.alert(rs.message, {icon: 0});
                }
            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    $('#createTimeForAdd').datetimepicker({
        format: "Y-m-d H:i:s",
        timepicker:false,
        step:1
    });

    function initEditModal(userId) {
        $("input[name='roleList']").prop("checked", false);
        $.ajax({
            url : "/api/user/" + userId,
            type : "get",
            success : function (rs) {
                $("#idForEdit").val(rs.userId);
                $("#nameForEdit").val(rs.userName);
                $("#telForEdit").val(rs.tel);
                $("#stateForEdit").val(rs.state);
                $("#createTimeForEdit").val(rs.createTime);
                $.each(rs.roles, function(i, item){
                    $("input[name='roleList'][value=" + item.roleId + "]").prop("checked",true);
                });
            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    function initfpRoles(rolesDiv, roleName) {
        $("#" + rolesDiv + "").empty();
        $.ajax({
            url : "/api/roles",
            type : "get",
            contentType: "application/json",
            success : function (rs) {
                var checkboxs = "";
                $.each(rs, function(i, value) {
                            checkboxs += "<input name='"+ roleName + "' value='" +
                                value.roleId +"' type='checkbox'>" + value.roleDescribe + "&nbsp;&nbsp;";
                });
                $("#" + rolesDiv + "").append(checkboxs);
            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    function editModal() {
        var user = {};
        user.userId = $("#idForEdit").val();
        user.userName = $("#nameForEdit").val();
        user.tel = $("#telForEdit").val();
        user.state = $("#stateForEdit").val();
        user.createTime = $("#createTimeForEdit").val();
        var roles = [];
        $.each($("[name=roleList]"), function(index, item) {
            if (item.checked) {
                var role = {};
                role.roleId = $(item).val();
                roles.push(role);
            }
        });
        user.roles = roles;

        $.ajax({
            url : "/api/user",
            type : "put",
            contentType: "application/json",
            data : JSON.stringify(user),
            success : function (rs) {
                if (rs.status == 200) {
                    $('#editModal').modal('hide');
                    initTable(DEFAULT_PAFE_SIZE);
                } else {
                    layer.alert(rs.message, {icon: 0});
                }
            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    $('#createTimeForEdit').datetimepicker({
        format: "Y-m-d H:i:s",
        timepicker:false,
        step:1
    });
    function deleteModal(userId) {
        bootbox.confirm("确定删除?", function(result) {
            if(result) {
                $.ajax({
                    url : "/api/user/" + userId,
                    type : "delete",
                    //contentType: "application/json",
                    //data : JSON.stringify(category),
                    success : function (rs) {
                        if (rs.status == 200) {
                            initTable(DEFAULT_PAFE_SIZE);
                        } else {
                            layer.alert(rs.message, {icon: 0});
                        }
                    },
                    error : function (data) {
                        layer.alert(data.responseText, {icon: 0});
                    }
                });
            }
        });
    }
</script>