<div id="addModal" class="modal fade bs-example-modal-lg" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">添加角色</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="javascript:void(0);" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">角色名</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="nameForAdd" name="roleName" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">角色描述</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="describeForAdd" name="roleDescribe" class="form-control ">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="addModalSubmit" type="button" class="btn btn-primary">提交</button>
            </div>

        </div>
    </div>
</div>